
{extend name="index/base-model" /}

{block name="content"}
<!-- START HOME -->
<section id="home" class="welcome-area">
    <div class="welcome-slider-area">
        <div id="welcome-slide-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators-slider">
                <li data-target="#welcome-slide-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#welcome-slide-carousel" data-slide-to="1"></li>
                <li data-target="#welcome-slide-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide-item slide-1">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>create your company website with Alvida</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
                                            <a class="btn btn-default btn-home-bg page-scroll" href="#about">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide-item slide-2">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>best services we provide with care</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
                                            <a class="btn btn-default btn-home-bg page-scroll" href="#about">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide-item slide-3">
                        <div class="single-slide-item-table">
                            <div class="single-slide-item-tablecell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>company's best works presentation</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
                                            <a class="btn btn-default btn-home-bg page-scroll" href="#about">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- START ABOUT -->
<section id="about" class="about-us section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="section-title wow zoomIn">
                <h2>About us</h2>
                <span></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="about_single wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <i class="fa fa-tablet"></i>
                    <h4>Our Mission</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy.</p>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="about_single wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <i class="fa fa-umbrella"></i>
                    <h4>Our vision</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy.</p>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="about_single wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <i class="fa fa-code"></i>
                    <h4>Our history</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy.</p>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="about_single wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <i class="fa fa-building-o"></i>
                    <h4>Our process</h4>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy.</p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->
{/block}
{block name="js"}
<!-- Latest jQuery -->
<script src="__MYJS__js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="__MYJS__bootstrap/js/bootstrap.min.js"></script>
<!-- modernizer JS -->
<script src="__MYJS__js/modernizr-2.8.3.min.js"></script>
<!-- venobox js -->
<script src="__MYJS__venobox/js/venobox.min.js"></script>
<!-- jquery appear js  -->
<script src="__MYJS__js/jquery.appear.js"></script>
<!-- countTo js -->
<script src="__MYJS__js/jquery.inview.min.js"></script>
<!-- jquery mixitup js -->
<script src="__MYJS__js/jquery.mixitup.js"></script>
<!-- owl-carousel min js  -->
<script src="__MYJS__owlcarousel/js/owl.carousel.min.js"></script>
<!-- scrolltopcontrol js -->
<script src="__MYJS__js/scrolltopcontrol.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="__MYJS__js/wow.min.js"></script>
<!-- form-contact js -->
<script src="__MYJS__js/form-contact.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>- -->
<!-- switcher js -->
<script src="__MYJS__js/switcher.js"></script>
<!-- scripts js -->
<script src="__MYJS__js/scripts.js"></script>
{/block}